body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.box {
    width: 20%;
    height: 420px;
    background-color: hsl(0, 0%, 100%);
    margin: 100px auto;
    border: 1px solid white;
    border-radius: 15px;
}

.qr {
    width: 90%;
    margin: 10px 8px;
    border-radius: 10px ;
}

.first {
    font-weight: bold;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin-top: 10px;
}

.second {
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    margin-top: 10px;
    padding: 0px 10px;
}
